# Dependencies
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.venv
**/venv
**/.mypy_cache
**/.ruff_cache

# IDE
.vscode
.idea

# Git
.git
.gitignore
.gitattributes

# Build / OS
*.egg-info
dist
build
.DS_Store
Thumbs.db

# Logs / env
*.log
.env
.env.*
!.env.example

# Docs
docs/_build
